<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.8" sku=".NETFrameWork, Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="regBD" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\student\Documents\Практика\code play\code play\reg.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>